# Ignorar arquivos da pasta instance (Banco de Dados, configurações locais)
instance/

# Ignorar arquivos de log
logs/

# Ignorar banco de dados SQLite, caso esteja fora da pasta instance
database.db

# Arquivos de cobertura de testes
.coverage

# Arquivos do PyCharm ou VS Code
.idea/

.tox
*pycache*