<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <title>Agenciar Pedidos</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Importa o Bootstrap via CDN -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- CSS customizado, se necessário -->
  <link rel="stylesheet" href="{{ url_for('static', filename='core-lite.css') }}">
  <style>
    /* Ajuste para o layout do formulário */
    .form-row {
      display: flex;
      align-items: center;
      gap: 5px;
    }
    .form-row > div {
      margin: 0;
    }
  </style>
</head>
<body class="bg-light">

  <!-- Cabeçalho -->
  <header class="mb-4">
    <div class="container-fluid">
      <div class="d-flex justify-content-between align-items-center py-3">
        <div>
          <img src="https://receitafederal.github.io/formularios/src/html/remessas_internacionais/componentes/cabecalho/img/receita-federal-logo.png" alt="logo" class="img-fluid" style="max-width: 200px;">
        </div>
        <div class="d-flex align-items-center">
          <span class="me-3">Olá, {{ current_user.username }} </span>
          <a class="btn btn-danger" href="{{ url_for('auth.logout') }}">Sair</a>
        </div>
      </div>
    </div>
  </header>

  <!-- Container Principal -->
  <div class="container bg-white p-4 rounded shadow-sm mb-4" style="max-width: 1200px;">
    
    <!-- Formulário de Busca -->
    <form method="GET" action="{{ url_for('agencias.agenciar_pedidos') }}" class="mb-4">
      {{ form.hidden_tag() }}
      <div class="row g-3 align-items-end">
        {% if current_user.role == "RFB" %}
          <div class="col-md-3">
            <label class="form-label">{{ form.nome_empresa.label }}</label>
            {{ form.nome_empresa(class="form-control", size=32) }}
          </div>
          <div class="col-md-3">
            <label class="form-label">{{ form.cnpj_empresa.label }}</label>
            {{ form.cnpj_empresa(class="form-control", size=32) }}
          </div>
        {% endif %}
        <div class="col-md-3">
          <label class="form-label">{{ form.nome_embarcacao.label }}</label>
          {{ form.nome_embarcacao(class="form-control", size=32) }}
        </div>
        <div class="col-md-3">
          <label class="form-label">{{ form.status.label }}</label>
          {{ form.status(class="form-control") }}
        </div>
      </div>
      <div class="row g-3 align-items-end mt-2">
        <div class="col-md-4">
          <label class="form-label">{{ form.data_inicio.label }}</label>
          {{ form.data_inicio(class="form-control") }}
        </div>
        <div class="col-md-4">
          <label class="form-label">{{ form.data_termino.label }}</label>
          {{ form.data_termino(class="form-control") }}
        </div>
	  </div>
	  <div class="row g-3 align-items-end mt-2">
		<div class="col-md-4">
		<label class="form-label">{{ form.data_criacao.label }}</label>
		{{ form.data_criacao(class="form-control") }}
		</div>
		<div class="col-md-4"></div>
		<div class="col-md-4">
		{{ form.submit(class="btn btn-primary w-100") }}
		</div>
      </div>
    </form>

    <h1 class="mb-4 text-center">Pedidos de agenciamento</h1>

    <!-- Container dos pedidos -->
    <div class="row g-3">
      {% for pedido in pedidos.items %}
        <div class="col-md-4">
          <div class="card h-100">
            <div class="card-body">
              <div class="mb-2">
                <span class="fw-bold">Identificação do pedido:</span>
                <span>{{ pedido.id }}</span>
              </div>
              <div class="mb-2">
                <span class="fw-bold">Empresa:</span>
                <span>{{ pedido.empresa_responsavel }}</span>
              </div>
              <div class="mb-2">
                <span class="fw-bold">CNPJ da Empresa:</span>
                <span>{{ pedido.cnpj_empresa }}</span>
              </div>
              <div class="mb-2">
                <span class="fw-bold">Motivo:</span>
                <span>{{ pedido.motivo_solicitacao }}</span>
              </div>
              <div class="mb-2">
                <span class="fw-bold">Data de abertura da solicitação:</span>
                <span>{{ pedido.data_criacao_pedido.strftime('%d/%m/%Y') }}</span>
              </div>
              <div class="mb-2">
                <span class="fw-bold">Data de início do serviço:</span>
                <span>{{ pedido.data_inicio.strftime('%d/%m/%Y') }}</span>
              </div>
              <div class="mb-2">
                <span class="fw-bold">Data de término do serviço:</span>
                <span>
                  {{ pedido.data_termino.strftime('%d/%m/%Y') }}
                  {% if pedido.prorrogacoes | selectattr('status_prorrogacao', 'equalto', 'aprovada') | list | length > 0 %}
                    (prorrogado)
                  {% endif %}
                </span>
              </div>
              <div class="mb-2">
                <span class="fw-bold">Certificado de Livre Prática:</span>
                <span>{{ pedido.certificado_livre_pratica }}</span>
              </div>
              <div class="mb-2">
                <span class="fw-bold">Situação:</span>
                <span>
                  {% if pedido.status == "pendente" %}
                    Pendente de análise pela RFB ⏳
                  {% elif pedido.status == "aprovado" %}
                    Aprovado ✅ 
                    {% if current_user.role == "comum" %}
                      <a href="{{ url_for('pedidos.gerar_comprovante', pedido_id=pedido.id) }}" target="_blank">Ver Comprovante</a>
                    {% endif %}
                  {% elif pedido.status == "rejeitado" %}
                    Rejeitado ❌
                  {% elif pedido.status == "rejeitado_agencia" %}
                    Rejeitado pela agência ❌
                  {% elif pedido.status == "exigência" %}
                    Com exigência ⚠
                  {% elif pedido.status == "aguardando_agencia" %}
                    Aguardando agência ⏳
                  {% endif %}
                </span>
              </div>
				{% if 
					  pedido.status == "aguardando_agencia" 
					  and current_user.role == "agencia_maritima"
					  and pedido.data_termino >= hoje
				%}
				  <div class="d-flex gap-2 mt-3">
					<button class="btn btn-success btn-sm" onclick="agenciarPedido({{ pedido.id }})">Agenciar</button>
					<button class="btn btn-danger btn-sm" onclick="rejeitarPedidoAgencia({{ pedido.id }})">Rejeitar</button>
				  </div>
				{% endif %}
            </div>
          </div>
        </div>
      {% else %}
        <div class="col-12">
          <p class="text-center">Nenhum pedido encontrado.</p>
        </div>
      {% endfor %}
    </div>

    <!-- Paginação -->
    <nav aria-label="Paginação" class="mt-4">
      <ul class="pagination justify-content-center">
        {% if pedidos.has_prev %}
          <li class="page-item">
            <a class="page-link" href="{{ url_for('agencias.agenciar_pedidos', page=pedidos.prev_num) }}">⏪ Anterior</a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <span class="page-link">⏪ Anterior</span>
          </li>
        {% endif %}
        <li class="page-item disabled">
          <span class="page-link">Página {{ pedidos.page }} de {{ pedidos.pages }}</span>
        </li>
        {% if pedidos.has_next %}
          <li class="page-item">
            <a class="page-link" href="{{ url_for('agencias.agenciar_pedidos', page=pedidos.next_num) }}">Próxima ⏩</a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <span class="page-link">Próxima ⏩</span>
          </li>
        {% endif %}
      </ul>
    </nav>
  </div>

<script>
  // Disponibiliza o CSRF da sessão para o JS
  const CSRF_TOKEN = "{{ csrf_token() }}";
</script>


  <!-- JavaScript para ações de agenciamento e rejeição -->
  <script>

// Função para agenciar o pedido
function agenciarPedido(pedidoId) {
  fetch(`/embarcacoes/api/pedidos-autorizacao/${pedidoId}/agenciar`, {
    method: "PUT",
    headers: {
      "Content-Type": "application/json",
      "X-CSRFToken": CSRF_TOKEN
    }
  })
  .then(response => {
    if (!response.ok) {
      return response.text().then(text => { throw new Error(text); });
    }
    return response.json();
  })
  .then(data => {
    alert("Pedido agenciado com sucesso!");
    location.reload();
  })
  .catch(error => {
    console.error("Erro ao agenciar pedido:", error);
    alert("Erro ao agenciar pedido:\n" + error.message);
  });
}

// Função para rejeitar o pedido pela agência
function rejeitarPedidoAgencia(pedidoId) {
  fetch(`/embarcacoes/api/pedidos-autorizacao/${pedidoId}/rejeitar-agencia`, {
    method: "PUT",
    headers: {
      "Content-Type": "application/json",
      "X-CSRFToken": CSRF_TOKEN
    }
  })
  .then(response => {
    if (!response.ok) {
      return response.text().then(text => { throw new Error(text); });
    }
    return response.json();
  })
  .then(data => {
    alert("Pedido rejeitado com sucesso!");
    location.reload();
  })
  .catch(error => {
    console.error("Erro ao rejeitar pedido:", error);
    alert("Erro ao rejeitar pedido:\n" + error.message);
  });
}
  </script>
  
  <!-- Bootstrap JS Bundle -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

