<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <title>Comprovante Inválido</title>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- CSS customizado, se necessário -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="bg-light">
  <div class="container bg-white p-4 rounded shadow-sm text-center" style="max-width: 600px;">
    <h1 class="text-danger">Comprovante Inválido</h1>
    <p>O comprovante que você está tentando acessar é inválido ou não existe.</p>
    <p>Verifique o QR Code.</p>
    <a href="{{ url_for('home') }}" class="text-decoration-none text-primary">Voltar para a página inicial</a>
  </div>

  <!-- Bootstrap JS Bundle -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
