<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <title>Comprovante de autorização</title>
  
  <style>
    /* Opcional: estilos para ocultar o botão na impressão */
    @media print {
      .no-print {
        display: none;
      }
    }
  </style>
  
</head>
<body>
  <h1>Comprovante de autorizacao #{{ pedido.id }}</h1>
  <p><strong>Empresa:</strong> {{ pedido.empresa_responsavel }}</p>

  <p><strong>CNPJ:</strong> {{ pedido.cnpj_empresa }}</p>
  <p><strong>Motivo da solicitação:</strong> {{ pedido.motivo_solicitacao }}</p>
  <p><strong>Data de início:</strong> {{ pedido.data_inicio.strftime('%d/%m/%Y') }}</p>
  <p><strong>Data de término:</strong> {{ pedido.data_termino.strftime('%d/%m/%Y') }}</p>
  <p><strong>Horário de Início dos Serviços:</strong> {{ pedido.horario_inicio_servicos }}</p>
  <p><strong>Horário de Término dos Serviços:</strong> {{ pedido.horario_termino_servicos }}</p>
  <p><strong>Situação:</strong> {{ pedido.status }}</p>
  <p><strong>Cidade:</strong> {{ pedido.cidade_servico }}</p>
  <p><strong>Agência marítima:</strong> {{ pedido.agencia_maritima }}</p>

  <h2>QR Code para Verificação</h2>
  <img src="data:image/png;base64,{{ qr_code }}" alt="QR Code">
  <p>Ao escanear este QR Code, você será direcionado para a página de verificação do comprovante.</p>
  
<div style="margin-top: 20px; text-align: center; font-size: 0.9em; color: #555;">
  <p>URL para verificação: <br>
    <code>https://10.61.8.171/embarcacoes/verificar-comprovante/{{ pedido.token_comprovante }}</code>
  </p>
  <p>Você pode copiar e colar essa URL no seu navegador para testar a autenticidade do comprovante.</p>
</div>

  <!-- Botão de impressão -->
<div class="no-print" style="text-align: center; margin-top: 20px;">
  <button onclick="window.print()">Imprimir esta página</button>
</div>
  
</body>
</html>
